/**
 * This injects any component classes registered by plugins.
 */
@import "tailwindcss/components";

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

