@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--text li, ul, p, input, :--heading;
@custom-selector :--click a, button, input[type="submit"];

$font-base: Hind Madurai, system-ui;
$font-custom: Biko, Hind Madurai, system-ui;

$clip-1-b: polygon(100% 68%, 100% 100%, 0% 100%);
$clip-1-a: polygon(0 0, 44% 100%, 0% 100%);

$clip-2-b: polygon(80% 0, 100% 40%, 0 84%, 0% 0%);
$clip-2-a: polygon(100% 100%, 0 100%, 0 75%);


/* breakpoints */
$md: (min-width: 600px);